<div class="row">
  <div class="columns large-12">
    <%= form_tag planets_path, method: :get do %>
      <%= label_tag :q, "Search" %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag 'Submit' %>
    <% end %>

    <% if !@planets.empty? %>
      <table>
        <tr>
          <th>Name</th>
        </tr>

        <% @planets.each do |planet| %>
          <tr>
            <td><%= planet.name %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
